@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: it's tailwind rules */
@custom-variant dark (&:where(.dark, .dark *));

/* biome-ignore lint/suspicious/noUnknownAtRules: it's tailwind rules */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* biome-ignore lint/suspicious/noUnknownAtRules: it's tailwind rules */
  @apply antialiased
    bg-white
    dark:bg-gray-950
    text-gray-950
    dark:text-white;
}
